form {
    text-align: center;
    width: 70%;
    margin: 2rem auto 0 auto;
  }
  
  h1 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 3rem;
  }
  
  .form {
    width: 100%;
  }
  
  .buttons {
    width: 100%;
    text-align: start;
  }
  input{
    margin-bottom: 15px;
  }
  
  button {
    margin-right: 0.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }
  
  @media (max-width: 768px) {
    form {
        width: 90%; /* Adjust the width for smaller screens */
    } 
  
    h1 {
        font-size: 1.5rem; /* Reduce font size for smaller screens */
        margin-bottom: 2rem; /* Reduce margin for smaller screens */
    }
  
    button {
        padding: 0.5rem 1rem; /* Adjust button padding for smaller screens */
    }
  }