<div class="content">

  <div class="title">
    <h1>Lista de compromissos cadastrados</h1>
  </div>

  <button class="btn btn-primary" (click)="create()">NOVO COMPROMISSO</button>

  <div class="card-container">
    <mat-card class="example-card" *ngFor="let compromisso of compromissos">
      <mat-card-header>
        <mat-card-title><strong>Compromisso:</strong> {{ compromisso.nome }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <a><strong>Data Início:</strong> {{ compromisso.inicio }}</a>
        <p><strong>Data Fim:</strong> {{ compromisso.fim }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="btn btn-warning" routerLink="update/{{ compromisso.id }}">EDITAR</button>
        <button mat-button class="btn btn-danger" routerLink="delete/{{ compromisso.id }}">EXCLUIR</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <mat-paginator [length]="200"
                 [pageSizeOptions]="[10, 20, 30, 40, 50, 100, 200]"
                 (page)="onPaginateChange($event)"
                 aria-label="Select page">
  </mat-paginator>
</div>
