<form>
    <h1>CRIANDO NOVO COMPROMISSO</h1>
  
    <mat-form-field class="form">
        <mat-label>Nome compromisso</mat-label>
        <input matInput [formControl]="nome" required [(ngModel)]="compromisso.nome" type="text" name="nome" placeholder="Ex: Reunião de alguma coisa" maxlength="20">
    </mat-form-field>
    
    <mat-form-field class="form">
        <mat-label>Data início</mat-label>
        <input matInput [formControl]="inicio" required [(ngModel)]="compromisso.inicio" type="text" name="inicio">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Data fim</mat-label>
        <input matInput [formControl]="fim" required [(ngModel)]="compromisso.fim" type="text" name="fim">
    </mat-form-field>


    <div class="buttons">
        <button [disabled]="getMessage()" (click)="create()" class="mat-elevation-z8" mat-raised-button color="primary"> CRIAR </button>
        <button (click)="cancel()" class="mat-elevation-z8" mat-raised-button color="warn"> CANCELAR </button>
    </div>
  
  </form>