<!-- produto-update.component.html -->

<div class="content">
    <div class="title">
      <h1>Atualizar Compromisso</h1>
    </div>
  
    <form [formGroup]="compromissoForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="form">
        <mat-label>Nome:</mat-label>
        <input matInput type="text" id="nome" formControlName="nome" required>
      </mat-form-field>
  
      <mat-form-field class="form">
        <mat-label>Inicio:</mat-label>
        <input matInput type="text" id="inicio" formControlName="inicio">
      </mat-form-field>
  
      <mat-form-field class="form">
        <mat-label>Fim:</mat-label>
        <input matInput type="text" id="fim" formControlName="fim">
      </mat-form-field>
      
      <div class="buttons">
        <button type="submit" mat-raised-button color="primary"> ATUALIZAR </button>
        <button routerLink="/compromisso" class="mat-elevation-z8" mat-raised-button color="warn"> CANCELAR </button>
      </div>
    </form>
  </div>
  