<div class="content">

    <div class="title">
        <h1>Compromissos</h1>
    </div>
    <div class="mat-elevation-z8 content-table">
        <table class="table" mat-table [dataSource]="compromissos">
  
            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> ID </th>
              <td mat-cell *matCellDef="let row"> {{ row.id }} </td>
            </ng-container>   

            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome compromisso</th>
                <td mat-cell *matCellDef="let row"> R$ {{ row.compromisso }} </td>
              </ng-container>

            <ng-container matColumnDef="inicio">
                <th mat-header-cell *matHeaderCellDef> Data início</th>
                <td mat-cell *matCellDef="let row"> R$ {{ row.inicio }} </td>
              </ng-container>

              <ng-container matColumnDef="fim">
                <th mat-header-cell *matHeaderCellDef> Data fim </th>
                <td mat-cell *matCellDef="let row"> {{ row.fim }} </td>
              </ng-container>

          </table>
          <mat-paginator [length]="200"
          [pageSizeOptions]="[10, 20, 30, 40, 50, 100, 200]"
          (page)="pageEvent = $event; onPaginateChange($event)"
          aria-label="Select page">
          </mat-paginator>
    </div>
  </div>